<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
    <script type="text/javascript">{{ g.sijax.get_js()|safe }}</script>
    <!-- <link rel="stylesheet" href="static/style/login_style.css"> -->
    <title>Register Requests</title>
</head>
<body class="bg-dark">
    
    <!-- Navbar -->
    {% include 'navbar.html' %}

    <div class="container p-5 my-5 bg-dark text-white d-flex justify-content-center border border-4">
        <div>
            <h1>Register Rquests</h1>
            
            <div>
                <h3>Here are the recent register request</h3>

                <!-- Flash messages -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                {%if messages %}
                    <div class="alert alert-success d-flex align-items-center" role="alert">
                        {{ messages[0][1] }}
                    </div>

                {% endif %}
                {% endwith %}

                <div class="pt-4 w-100">
                    <ul class="list-group">
                        {% for request in registerRequests%}

                            <li id="li-{{request.register_id}}" class="list-group-item mt-3">
                                <div class="row">
                                    <b>ID: {{request.author_id}}</b></br>
                                    <b>First Name: {{request.first_name}}</b></br>
                                    <b>Last Name: {{request.last_name}}</b></br>
                                </div>

                                <div class="justify-content-end float-end">
                                    <button id="accept-btn-{{request.register_id}}" name="accept-{{request.register_id}}" onClick="Sijax.request('accept_server_request', [this.id]);" class="btn btn-outline-primary float-end ms-3">√</button>
                                    <button id="decline-btn-{{request.register_id}}" name="decline-{{request.register_id}}" onClick="Sijax.request('decline_server_request', [this.id]);" class="btn btn-outline-primary">X</button>
                                </div>
                            </li>

                        {% endfor %}
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="static/scripts/register_request.js"></script>
</body>
</html>